version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - mynetwork
    restart: always

  app:
    build: .
    depends_on:
      - db
    networks:
      - mynetwork
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "postgresql+asyncpg://cnyxpayuser:cnyxpaypswd@db:5432/cnyxpay"

networks:
  mynetwork:
    driver: bridge

volumes:
  postgres_data:
